# Ignore Terraform state files and secrets
*.tfstate
*.tfstate.*
terraform-key.json
.terraform.lock.hcl
.terraform/
# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.log